@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: #020617;
}

.animated-bg {
  background: linear-gradient(
    -45deg,
    #020617,
    #0f172a,
    #082f49,
    #0f172a
  );

  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
}